:root {
        --ic-brand-primary-darkened-5: #094C76;
--ic-brand-primary-darkened-10: #094870;
--ic-brand-primary-darkened-15: #08446A;
--ic-brand-primary-lightened-5: #155882;
--ic-brand-primary-lightened-10: #216189;
--ic-brand-primary-lightened-15: #2D6A8F;
--ic-brand-button--primary-bgd-darkened-5: #F2B84C;
--ic-brand-button--primary-bgd-darkened-15: #D8A544;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #444444;
--ic-brand-font-color-dark-lightened-28: #606060;
--ic-link-color-darkened-10: #094870;
--ic-link-color-lightened-10: #216189;
--ic-brand-primary: #09507C;
--ic-brand-font-color-dark: #232323;
--ic-link-color: #09507C;
--ic-brand-button--primary-bgd: #FEC14F;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #09507C;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #F58832;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #F58832;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #F58832;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/903146/logopspride.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/903147/logopride-ps.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/506/hat.gif');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/490/Per%20Scholas%20Logo%20MBK.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/509/pslogo2.gif');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/508/pslogo2.gif');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/139970/PS_Logo%25281%2529.png');
--ic-brand-Login-body-bgd-color: #0000ff;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/1504670/image.jpg');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_126190000000000001/attachments/1504750/Logo_PerScholas-01.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #0f02c5;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }